@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
}

body {
    background-color: #52575d;
}

.navContainer {
    background-color: #41444b;
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navContainer .logo {
    margin-left: 1rem;
    color: #fddb3a;
    cursor: pointer;
}

.navContainer .logo:hover {
    background-color: #fddb3a;
    color: aliceblue;
}

.navContainer .linksArea ul {
    display: flex;
    list-style-type: none;
}

.navContainer .linksArea ul li {
    margin-right: 1rem;
    background-color: #52575d;
    padding: 6px 8px;
    transition: background-color 300ms linear,
                transform 500ms ease;
}

.navContainer .linksArea ul li:hover {
    background-color: #fddb3a;
    transform: scale(1.2);
}

.navContainer .linksArea ul li a {
    color: #f6f4e6;
    text-decoration: none;
}

.homeContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainer .centerText {
    color: white;
    text-align: center;
    font-size: 34pt;
    font-weight: bold;
}

.projectsContainer {
    height: 100vh;
}

.projectsContainer .projects {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.projectsCard {
    display: flex;
    flex-direction: column;
    background-color: #41444b;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: black 0px 0px 10px;
}

.projectsCard .title {
    display: flex;
    justify-content: left;
    margin-bottom: 0.5rem;
}

.projectsCard .title h3 {
    font-size: 17pt;
    color: #fddb3a;
    text-decoration: underline;
}

.projectsCard .image {
    display: flex;
    justify-content: center;
}

.projectsCard .image img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

.projectsCard .buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.projectsCard .buttonContainer .btn {
    text-align: right;
}

/* useful */
.btn {
    background-color: aliceblue;
    padding: 10px 12px;
    font-size: 14pt;
    font-weight: bold;
    transition: background 300ms ease;
}

.btn.active {
    background-color: #fddb3a;
}

.btn.active:hover {
    background-color: #ecda7d;
}